<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>02_模板语法</title>
  </head>
  <body>
    <!--
      1. 模板的理解:
        动态的html页面
        包含了一些JS语法代码
          双大括号表达式
          指令(以v-开头的自定义标签属性)
      2. 双大括号表达式
        语法: {{exp}} 或 {{{exp}}}
        功能: 向页面输出数据
        可以调用对象的方法
      3. 指令一: 强制数据绑定
        功能: 指定变化的属性值
        完整写法:
          v-bind:xxx='yyy'  //yyy会作为表达式解析执行
        简洁写法:
          :xxx='yyy'
      4. 指令二: 绑定事件监听
        功能: 绑定指定事件名的回调函数
        完整写法:
          v-on:click='xxx'
        简洁写法:
          @click='xxx'
      -->
    <div id="app">
      <h2>1. 双大括号表达式</h2>
      <p>{{aaa}}</p>
      <p>{{flag ? '111' : '222'}}</p>
      <!-- <p>{{if (flag) {  return 111 }}}</p> -->
      <h2>2. 指令一: 强制数据绑定</h2>
      <!-- v-bind强制绑定数据 v-bind:attr="xxx" 
        给value属性强制绑定num值
      -->
      <input type="text" v-bind:value="num" />

      <input type="text" :value="num" :flag="flag" />
      <input type="text" value="num" />
      <h2>3. 指令二: 绑定事件监听</h2>
      <button v-on:click="handleClick">按钮</button>
      <button v-on:mousemove="handleClick">按钮</button>
      <button @click="handleClick">按钮</button>
    </div>
    <script src="../js/vue.js"></script>
    <script>
      /*
        指令：
          1. v-model
            v-model="JS表达式" 用来双向数据绑定
            
          2. v-bind
            v-bind:propName="JS表达式" 用来强制绑定数据（单向数据绑定）
            简写： :propName="JS表达式"

          3. v-on
            v-on:eventName="事件回调函数" 用来绑定DOM事件
              eventName全是小写
              事件回调函数定义在methods中
            简写： @eventName="事件回调函数"  
      */
      new Vue({
        el: "#app",
        data: {
          aaa: "aaaaaa",
          flag: false,
          num: 123,
        },
        methods: {
          // DOM事件的回调函数
          handleClick() {
            console.log(this); // vm
            console.log('点击了~');
          }
        }
      });
    </script>
  </body>
</html>
